<% include partials/header %>
<div class="container">
    <img class="center-block" src="images/404.png" alt="">
    <h4 class="text-center">page not found</h4>
    <p class="text-center">the page you requested does not exist</p>
</div>
<% include partials/footer %>
