<% include partials/header %>

<div class="container">
    <div class="row">
        <div class="col-xs-9">
            
        </div>
        <div class="col-xs-3">
            <div class="well"></div>
            <div class="well">
                <input type="text" class="form-control text-center" placeholder="search">
            </div>
            <div class="well">
                <a class="btn btn-large btn-primary btn-block" href="#">Submit a new text post</a>
                <a class="btn btn-large btn-primary btn-block" href="/r/new">Create your own subreadit</a>
            </div>
        </div>
    </div>

</div>

<% include partials/footer %>
