<% include ../partials/header %>
<form action="/r" method="POST">
    <input type="text" name="name" placeholder="subreadit name">
    <input type="text" name="description" placeholder="subreadit description">
    <button>Submit</button>
</form>
<% include ../partials/footer %>
